li{
    list-style-type: none;
    float:left;
    padding: 10px;
}
.btn-group{
    left: 40%;
}
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
h1{
padding-top: 80px;
}